/*----------------------------------
Global Stlyes
------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	/*one Em roughly ten pixels (16 x 62.5% = 10)*/
	font-size: 62.5%;
	letter-spacing: 1.5px;
	margin: 0;
	font-weight: 300;
	color: rgb(85, 85, 85);
}

a:link {
	color: #df744a;
	text-decoration: none;
}

a:hover,
a:active,
a:visited {
	color: #df744a;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 6em auto;
	text-align: center;
	width: 100%;
	padding: 2em;
}

.text {
	margin: 1.5em 0;
	font-size: 1.8em;
}

/*----------------------------------
Headings
------------------------------------*/

h1,
h2,
h3 {
	font-weight: 300;
	word-spacing: 3px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

h1 {
	font-size: 3.8em;
}

h2 {
	color: #df744a;
	font-size: 3em;
	padding: 1em;
}

h2:after {
	content: "";
	display: block;
	width: 10em;
	height: 2px;
	background-color: #df744a;
	margin: 0 auto;
	margin-top: 1em;
}

h3 {
	font-size: 2.5em;
}

/*----------------------------------
HEADER AND NAVIGATION
------------------------------------*/
.header {
	width: 100%;
}

.navbar {
	font-size: 1.6em;
	background-color: #000;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 2em;
	position: fixed;
	z-index: 10;
	width: 100%;
}

.main-nav {
	list-style-type: none;
	display: none;
}

.main-nav li {
	text-align: center;
	margin: 1.5em auto;
}

.img-logo {
  width: 3.3em;
	animation: spin 2s infinite;
	display: inline-block;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.brand {
	padding-left: 0.8em;
	padding-top: 0.8em;
}

.logo {
	display: inline-block;
	font-size: 1.5em;
	font-style: italic;
}

.navbar-toggle {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.9);
	font-size: 1.6em;
}

.active {
	display: block;
}

.nav-link a {
  text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
  padding: 1em;
	cursor: pointer;
	color: #fff;
}

.brand a {
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
}

.brand a:hover,
.nav-link a:hover {
	color: #df744a;
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/*
Header-image
Photo by julian mora on Unsplash
*/
.header-img {
	background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.4)),url(images/yarn1.jpg) no-repeat fixed;
	background-size: cover;
	background-position: top center;
	height: 100vh;
	width: 100%;
}

.hero-text-box {
	font-size: 2em;
	color: #fff;
	max-width: 60%;
}

.btn {
	background-color: #df744a;
  border-radius: 8px;
  color: #fff;
  font-size: 1em;
	padding: 0.8em;
  margin: 2em;
  border: 0;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgba(0, 0, 0,0.5);
	display: inline-block;
}

#hero-btn {
	background-color: #df744a;
  border-radius: 8px;
  color: #fff;
  font-size: 1.8em;
	padding: 0.8em;
  margin-top: 2em;
  border: 0;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgba(0, 0, 0,0.5);
}

.scroll-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.5em;
  color: #fff;
  animation: MoveUpDown 1s linear infinite;
}

.scroll-down:hover {
  animation-play-state: paused;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 10%;
  }
  50% {
    bottom: 12%;
  }
}

/*----------------------------------
ABOUT SECTION
------------------------------------*/

.span-about,
.span-gallery {
	color: #df744a;
	font-weight: 700;
}

.about-image {
	border-radius: 50%;
	width: 20em;
}

#video {
	margin-top: 5em;
	width: 38em;
	padding: 2em;
}

/*----------------------------------
GALLERY SECTION
------------------------------------*/

.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

p > a {
	text-decoration: none;
	font-weight: 700;
	color: #df744a;
}

.gallery-img {
	max-width: 28em;
	padding: 1em;
}

.figcaption-gallery {
	font-size: 1.7em;
}

/*----------------------------------
SHOP SECTION
------------------------------------*/
.section-shop {
	background-color: #fedcd2;
	text-align: center;
	padding: 2em;
}

.visit-shops {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 6em 2em;
}

.visit-shops a {
  font-size: 2em;
  background-color: #df744a;
	color: #fff;
	display: inline-block;
}

.etsy i,
.you-tube i {
	color: #df744a;
	font-size: 1.5em;
}

.etsy i {
	font-size: 1.2em;
}

.youtube {
	margin-top: 4em;
}

/*----------------------------------
Contact Form
------------------------------------*/

.form-container {
	border: 1px solid #ddd;
	border-radius: 0.8em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 38em;
	padding: 2em;
	box-shadow: 7px 7px 7px #ddd;
}

.input-group {
	display: flex;
	padding: 0.5em;
	font-size: 1.6em;
	margin: 1em;
}

.form-input {
	max-width: 15em;
	padding: 0.4em;
}

.form-label {
	display: flex;
	align-items: center;
	margin-left: 1.5em;
	font-weight: bold;
}

/* Input text field */
.input-group-text {
	display: flex;
	flex-direction: column;
}

.comment-label {
	margin-bottom: 0.5em;
	font-weight: bold;
}

/* Submit Button */

.submit {
	background-color: #df744a;
  border-radius: 4px;
  color: white;
  font-size: 1.6em;
	padding: 0.8em;
  margin: 1em;
  border: 0px solid;
	box-shadow: 5px 5px 5px #ddd;
}

/*----------------------------------
Footer
------------------------------------*/
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: #111;
	color: #fff;
	padding: 1em;
	position: relative;
	text-align: center;
}

.footer-links {
	margin: 1em auto;
}

.footer-links a {
	font-size: 1.8em;
	padding: 1em;
	color: #df744a;
}

.footer-paragraphs {
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

#back-to-top {
  position: absolute;
  bottom: 20px;
	right: 20px;
}

#back-to-top a {
	color: #df744a;
}

#back-to-top i {
	font-size: 2.5em;
}

/*----------------------------------
Media Queries
------------------------------------*/

@media screen and (min-width: 850px) {
	.navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0.5em;
	}

	.main-nav {
		display: flex;
		margin-right: 3em;
		flex-direction: row;
	}

	.main-nav li {
		margin: 0;
	}

	.nav-links {
		margin-left: 4em;
	}

	.navbar-toggle {
		display: none;
	}
}