/*----------------------------------
Global Stlyes
------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	/*one Em roughly ten pixels (16 x 62.5% = 10)*/
	font-size: 62.5%;
	letter-spacing: 1.5px;
	margin: 0;
	font-weight: 300;
	color: rgb(85, 85, 85);
}

a:link {
	color: #df744a;
	text-decoration: none;
}

a:hover,
a:active,
a:visited {
	color: #df744a;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 6em auto;
	text-align: center;
	max-width: 60%;
}

.text {
	margin: 1.5em 0;
	font-size: 2.3em;
}

/*----------------------------------
Headings
------------------------------------*/

h1,
h2,
h3 {
	font-size: 4em;
	font-weight: 300;
	word-spacing: 3px;
	letter-spacing: 4px;
	text-transform: uppercase;
}

h2 {
	color: #df744a;
	font-size: 3em;
	padding: 1em;
}

h2:after {
	content: "";
	display: block;
	width: 10em;
	height: 2px;
	background-color: #df744a;
	margin: 0 auto;
	margin-top: 1em;
}

h3{
	font-size: 3em;
}

/*----------------------------------
HEADER AND NAVIGATION
------------------------------------*/

.logo {
  width: 5.5em;
  animation: spin 2s infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.header {
  background-color: #000;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0.5em;
}

.brand-name a,
.nav-link a {
  text-decoration: none;
	text-transform: uppercase;
	font-size: 1.7em;
  padding: 1em;
	cursor: pointer;
	color: #fff;
}

.brand-name a:hover,
.nav-link a:hover {
	color: #dcb239;
}

.brand-name a {
  font-size: 2.3em;
	padding: 0;
	font-style: italic;
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/*
Header-image
Photo by julian mora on Unsplash
*/
.header-img {
	background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.4)),url(images/yarn1.jpg) no-repeat fixed;
	background-size: cover;
	background-position: top center;
	height: 100vh;
	width: 100%;
}

.hero-text-box {
	font-size: 2em;
	color: #fff;
	max-width: 44%;
}

.btn {
	background-color: #59ace0;
	/* background-color: #f6ac0b; */
  border-radius: 8px;
  color: #fff;
  font-size: 1em;
	padding: 0.8em;
  margin-top: 1em;
  border: 0;
	/* box-shadow: 3px 3px 3px #000; */
	cursor: pointer;
}

.scroll-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  color: #fff;
  animation: MoveUpDown 1s linear infinite;
}

.scroll-down:hover {
  animation-play-state: paused;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 10%;
  }
  50% {
    bottom: 12%;
  }
}

/*----------------------------------
ABOUT SECTION
------------------------------------*/

.span-about,
.span-gallery {
	color: #df744a;
	font-weight: 700;
}

.about-image {
	border-radius: 50%;
	height: 20em;
}

#video {
	margin-top: 5em;
}

/*----------------------------------
GALLERY SECTION
------------------------------------*/

.section-gallery {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

p > a {
	text-decoration: none;
	font-weight: 700;
	color: #df744a;
}

.gallery-img {
	max-width: 28em;
	padding: 1em;
}

.figcaption-gallery {
	font-size: 1.8em;
}

/*----------------------------------
SHOP SECTION
------------------------------------*/
.section-shop {
	background-color: #fedcd2;
	text-align: center;
}

.visit-shops {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1em 5em 5em;
}

.visit-shops a {
  font-size: 2.2em;
  background-color: #df744a;
  color: #fff;
}

.etsy {
	max-width: 40%;
}

.you-tube {
	max-width: 40%;
}


/*----------------------------------
Footer
------------------------------------*/
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: #111;
	color: #fff;
	padding: 1em;
	position: relative;
	text-align: center;
}

.footer-links {
	margin: 1em auto;
}

.footer-links a {
	font-size: 2em;
	padding: 1em;
	color: #dcb239;
}

.footer-paragraphs {
	font-size: 1.7em;
	margin-bottom: 0.5em;
}

#back-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#back-to-top a {
  color: #dcb239;
}