/*----------------------------------
Global Stlyes
------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
  /* font-family: 'Josefin Slab', serif; */
  /* font-family: 'Amatic SC', cursive; */
	font-family: "Josefin Slab", serif;
	/*one Em roughly ten pixels (16 x 62.5% = 10)*/
	font-size: 62.5%;
	letter-spacing: 1.5px;
	margin: 0;
}

/*----------------------------------
HEADER AND NAVIGATION
------------------------------------*/

.logo {
  width: 5em;
  animation: spin 2s infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.header {
  background-color: #000;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 2em;
}

.brand-name a,
.nav-link a {
  font-family: "Amatic SC", "Josefin Slab", serif;
  text-decoration: none;
	text-transform: uppercase;
	font-size: 2.6em;
  padding: 1.5em;
	cursor: pointer;
  color: #fff;
}

.brand-name a {
  font-size: 3.6em;
  font-weight: bold;
  padding: 0;
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/*
Header-image
Photo by julian mora on Unsplash
*/
.header-img {
	background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.4)),url(images/yarn1.jpg) no-repeat fixed;
	background-size: cover;
	background-position: top center;
	height: 70vh;
	width: 100%;
}

.hero-text-box {
	font-family: "Amatic SC", "Josefin Slab", serif;
	font-size: 3em;
	color: #fff;
	max-width: 44%;
}